<% provide(:title, "About the Application") %>
<div class="page_header"><h1>About the Application</h1></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      <strong>Front End</strong> Twitter Bootstrap, JQuery<br/>
      <strong>Middle</strong> Rails 4<br/>
      <strong>Back End</strong> MongoDB, Redis<br/>
    </p>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Gem</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>mongoid</td><td>object relational mapper (ORM) for MongoDB</td></tr>
          <tr><td>mongoid-grid_fs</td><td>file upload directly into MongoDB Grid FS</td></tr>
          <tr><td>geocoder</td><td>get coordinates (latitude / longitude) of places and locations</td></tr>
          <tr><td>geo-distance</td><td>calculate distance between 2 locations</td></tr>
          <tr><td>gmaps4rails</td><td>plot coordinates onto map (Google, Bing, etc)</td></tr>
          <tr><td>carrierwave</td><td>file upload to server or cloud storage (Amazon S3)</td></tr>
          <tr><td>mini-magick</td><td>crop and scale images</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>