<% provide(:title, "Edit Comment") %>
<div class="page_header"><h1>Edit Comment</h1></div>

<%= render partial: 'comments/form', locals: { button_label: "Save Changes", cancel_path: user_post_path(@current_user, @post) } %>
