<% provide(:title, 'Sign up') %>
<div class="page_header"><h1>Sign up</h1></div>

<%= render partial: 'users/form', locals: { button_label: "Create my Account", cancel_path: root_path, sign_up: true } %>
