<% provide(:title, "Update Post") %>
<div class="page_header"><h1>Update Post</h1></div>

<%= render partial: 'posts/form', locals: { button_label: "Save Changes", cancel_path: user_post_path(@current_user, @post) } %>
