<% provide(:title, "New Post") %>
<div class="page_header"><h1>New Post</h1></div>

<%= render partial: 'posts/form', locals: { button_label: "Add Post", cancel_path: user_posts_path(@current_user) } %>

<%= link_to 'Back', user_posts_path(@current_user), {"data-no-turbolink" => true} %>
