<hr/>
<div id="footer">
  <div class="container">
      <%= form_tag(root_path, method: "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <% end %>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</div>
</div>
