<footer class="footer">
  <div class="row">
    <div class="col-sm-6">
    </div>

    <div class="col-sm-6">
      <ul class="list-inline pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><a href="#about">About</a></li>
        <% if signed_in? %>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- row -->
</footer>
