<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
      <li>Latest Entries</li>
    <% @latest_posts.each do |p| %>
      <li><%= link_to p.title, p %></li>
    <% end %>
      <li class="nav nav-divider"></li>
      <li>Entries by Country</li>
    <% @countries.each do |c| %>
      <li><%= link_to c["_id"]["country"] + " (" + c["posts_count"].to_s + ")", {:action => "countries", :controller => "static_pages", :query => c["_id"]["country"]}, {"data-no-turbolink" => true} %></li>
    <% end %>
      <li class="nav nav-divider"></li>
      <li>Destination Facts</li>
      <li>Farthese North...</li>
      <li>Farthest South...</li>
      <li>Farthest West...</li>
      <li>Farthest East...</li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
